<footer id='footer' class='footer-bottom'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <%= link_to 'お問い合わせ', '#', class: 'nav-link' %>
          <%= link_to '利用規約', '#', class: 'nav-link' %>
          <%= link_to 'プライバシーポリシー', '#', class: 'nav-link' %>
        </div>
      </div>
    </div>
</footer>